// Requirements for TSI Javascript Paint project
// By Oliver Barnes, 16/05/2024

// calculate paint needed for walls - DONE
// ask for measurements - DONE
// calculate paint needed for each m**2 - DONE

// different shaped walls? - DONE
// multiple walls? - DONE
//  - different shapes? - DONE
//  - count floors/ceilings? - No easy way to implement this now - since input is collected in base calculation functions.
// multiple rooms? - DONE
// obstacles? - DONE
//  - doors? windows? sockets? - DONE
//  - can't be bigger than wall (try/catch) - DONE

// modular shape calculation (circular windows/doors) - DONE
// visual representations for shape calculations - DONE

// types of paint - costing? - DONE
//  - premium vs value
//  - colour
//  - cheapest option 
//      - different can sizes (2*10 is cheaper than 10 + 5 + 2 + 1) - DONE
//  - automatically add 10% to needed paint - DONE

// data structure for storing paint values - DONE
// research json tabulation - searchability - integration with switch/case - DONE

// can use any interface for input -> prompt-sync? prompt? readline? - DONE
// if extra time, build frontend/gui - N/A

// view paint catalogue, or calculator - DONE
// catalogue by colour, brand, size - DONE

// paint options - per wall or uniform - selector or get by internal SKU - DONE
// no of rooms -> no of walls -> wall shape -> wall size -> paint type for usage - DONE

// input, if else, switch case AT LEAST 1 of each - DONE 
// run AT LEAST 1 unit test - use jest

// keep total for all paint used, and per room - DONE
// give cost breakdown per room at the end - N/A

// clone room functionality? - N/A

// 0.1L/m**2 of paint - DONE